.header{
    display: flex;
    margin:45px 0 40px 0;
    max-width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:900px){
    .header{
        margin: 0 0 42px 0;
    }
}
@media screen and (max-width:320px){
    .header{
        min-width: 320px;
        margin: 0 0 42px -19px;
    }
}