.profile__name{
    color:white;
    margin: 0 0 16px 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width:400px){
    .profile__name{
        position: relative;
        font-size: 27px;
        line-height: 33px;
        margin: 0 0 14px 0;
    }
}